{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}



{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-notification-banner" role="region"
            aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
          
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Keeping you information secure
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p>
                Do not share your Government Gateway user ID and password with anyone else.
              </p>
            </div>
          </div>

          <h1 class="govuk-heading-xl">
            Sign in using Government Gateway
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label" for="one-half">
              Government Gateway user ID
            </label>
            <div id="account-number-hint" class="govuk-hint">
              This could be up to 12 characters.
            </div>
            <input class="govuk-input govuk-!-width-one-half" id="one-half" name="oneHalf" type="text">
          </div>
          <div>
            <label class="govuk-label" for="two-thirds">
              Password
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="two-thirds" name="twoThirds" type="text">
            
          
          </div>
          
          
        </div>
        
      </div>
      

{% endblock %}
