{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <!-- Unique Taxpayer Reference -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your details
      </h1>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="account-number">
            What is your Unique Taxpayer Reference (UTR) number?
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          This is a 10 digit number, like 1234567890. You can find this on your tax return, statement of accounts or any other Self Assessment calculations.
        </div>
        <input class="govuk-input govuk-input--width-10" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
      </div>

      <!-- Address radios -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Is your address in the UK?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changedName">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changedName-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Telephone number -->
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="account-number">
            What is your Unique Taxpayer Reference (UTR) number?
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-hint">
          If this is a UK landline or an overseas number, you must include the area or dialling code.
        </div>
        <input class="govuk-input govuk-input--width-10" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
      </div>

      <br />

      <!-- Save buttons -->
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and come back later
        </button>
      </div>


    </div>
  </div>

{% endblock %}
